/* Base Color */
$color-black: #333333;
$color-black-light: #6C727C;
$color-black-lighter: #9FA6B0;

$color-blue-lighter: #829CD0;
$color-blue: #20368F;
$color-blue-light: #015399;
$color-white : #FFFFFF;

$color-grey-dark: #6D6D6D;
$color-grey: #EBEBEB;